.header {
  display: flex;
  justify-content: space-between;
  padding: 2vh 4vw 2vh 4vw;
  background-color: antiquewhite;
  font-size: 3vh;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  border-bottom: 0.3vh solid black;
}

.main {
  height: 91.7vh;
  display: flex;
}

.display {
  height: 100%;
  flex-grow: 12;
}
