.ImportButton {
  background-color: #678abe;
  border: 0.3vh solid black;
  padding: 1.5vh 5vh;
  text-align: center;
  text-decoration: none;
  font-size: 2vh;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  border-radius: 40px;
  margin: 2vh;
}

.ImportButton:hover {
  background-color: #7693be;
}

.ImportButton:active {
  background-color: #7693be;
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}
