.genConfig {
  background-color: rgb(184, 213, 225);
  height: 100%;
  text-align: center;
}

.paramContain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* gap: 0px; */
}

.paramTogether {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1vh;
}
