.pageBar {
  height: 100%;
  background-color: beige;
  font-size: 3vh;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  text-align: center;
  flex-grow: 1;
}

.pageTab,
.pageTab2,
.pageTab3 {
  padding: 10vh 0vw 2vh 0vw;
  height: 33%;
  background-color: azure;
  border-bottom: 0.3vh solid black;
  border-right: 0.3vh solid black;
}

.pageTab2:hover,
.pageTab3:hover,
.pageTab:hover {
  background-color: #7693be;
}

.pageTab2:active,
.pageTab3:active,
.pageTab:active {
  background-color: #7693be;
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}
