.modelContain {
  background-color: rgb(224, 238, 238);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paramContain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0px;
}

.fillSpace3 {
  padding: 312px 0px;
  font-size: 21px;
}

.TextBox {
  width: 60px;
  height: 25px;
  margin-left: 20px;
}

.paramTogether {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkBox {
  width: 25px;
  height: 25px;
  margin-left: 20px;
}
