.StartButton {
  background-color: #678abe;
  border: 0.3vh solid black;
  padding: 2vh 7vh;
  text-align: center;
  text-decoration: none;
  font-size: 3vh;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  border-radius: 40px;
  margin: 7vh 0vh;
}

.StartButton:hover {
  background-color: #7693be;
}

.StartButton:active {
  background-color: #7693be;
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}

.statusIcon {
  margin: 10vh 0vh;
  width: 13vw;
  height: 25vh;
}

.startContain {
  height: 100%;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.descript {
  font-size: 2vh;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}

.barLabel {
  font-size: 20px;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}

.progressTogether {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.bar {
  border: 1px solid #666;
  height: 2.7vh;
  width: 90%;
  display: none;
}

.in {
  height: 100%;
  background-color: rgb(144, 171, 212);
}

@keyframes fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
