.StartButton {
  background-color: #678abe;
  border: 2px solid black;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  border-radius: 40px;
}

.StartButton:hover {
  background-color: #7693be;
}

.StartButton:active {
  background-color: #7693be;
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}
